{% extends "layout.html" %}
{% block content %}
  
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" />
<link href="frame.css" rel="stylesheet" type="text/css" media="all" />
<link href="fonts.css" rel="stylesheet" type="text/css" media="all" />
</head>
<body>
<div id="header-wrapper">
  <div id="header" class="container">
    <div id="logo">
      
</div>
    
  </div>
</div>
<div id="header-featured"> </div>

<div id="wrapper">
  <div id="featured-wrapper">
    <div id="featured" class="container">
      <div class="column1"> <span class="icon icon-cogs"></span>
        <div class="title">
          <h2>Easy to Use</h2>
        </div>
        <p>This Faculty time table management is User-friendly.This is a effective system that brings your all day timetable together to work more efficiently. .</p>
      </div>
      <div class="column2"> <span class="icon icon-legal"></span>
        <div class="title">
          <h2>About Us</h2>
        </div>
        <p>We have made this Faculty management system User-friendly and made sure that it can fulfill all the tasks required to achieve its objectives</p>
      </div>
      
    </div>
  </div>
  
</div>
</body>
</html>

{% endblock %}
