
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="frame.css" rel="stylesheet" type="text/css" media="all" />
</head>
<body>
<div class="jumbo">
    <h3>Welcome to the WebApp<h3>
    <h2>Faculty TimeTable Management System!<h2>
  </div>
  <div id="pic">
  <img src="images/banner.jpg">
  </div>
<footer>
<br>
<br>
<br>

          <h2>Easy to Use</h2>
        <p>This Faculty time table management is User-friendly.This is a effective system that brings your all day timetable together to work more efficiently. .</p>
      
      
          <h2>About Us</h2>
        </div>
        <p>We have made this Faculty management system User-friendly and made sure that it can fulfill all the tasks required to achieve its objectives</p>
 </footer>    
  
</div>
</body>
</html>
