{% extends "layout.html" %}
{% block content %}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

<html>
<head>
    <title>Faculty Timetable Management System</title>
    <meta charset="utf-8">
    <meta name="description" content="A personal blog"/>
    <meta name="keywords" content="Faculty Timetable Management System"/>
    <meta name="robots" content="nofollow"/>
    <meta http-equiv="author" content="Amrita School Of Engineering"/>
    <meta http-equiv="pragma" content="no-cache"/>
    <link href="static/ftms.css" type="text/css"
          rel="stylesheet"/>

</head>
<body>
<p id="top">


<div class="page">
    
    <div id="pic">

         <br><b>Login<B> <br>
        <div class="login-page">
            <div class="form">
                    <form method="POST" action="{{ url_for('login') }}">
                     {{ form.hidden_tag() }}
      
                     {{ form.username.label }}
                     {{ form.username }}
      
                     {{ form.passwd.label }}
                     {{ form.passwd(class='passwd') }}
                      
                    <button>login</button>
                    <p class="message">
                </form>
            </div>
        </div>
    <br>
    <br>
    <br>
+<footer>
 +  <p>Hosted using Flask</p>
 +  <p>Contact information: <a href="mailto:shreyanju@gmail.com">
 +  management@example.com</a>.</p>
 +</footer>
  </body>
</html>
{% endblock %}