{% extends "layout.html" %}
{% block content %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

<html>
<head>
    <title>Faculty Timetable Management System</title>
    <meta name="description" content="Faculty Timetable Management System"/>
    <meta name="keywords" content="Faculty Timetable Management System"/>
    <meta name="robots" content="nofollow"/>
    <meta http-equiv="author" content="Amrita School Of Engineering"/>
    <meta http-equiv="pragma" content="no-cache"/>
    <link href="/static/ftms2.css" type="text/css"
          rel="stylesheet"/>

</head>
<body>
<p id="top">
<div class="header">

    <img src="http://www.i3indyatechnologies.com/cybersuraksha/registration/img/amrita-university.png"
         alt="THE AWESOME LOGO"/>
    <h1> Faculty Timetable Management System </h1>
</div>

<div class="page">
    <div id="nav">
        <ul>
            <li>Faculty Name : {{name}}</li>
            <li>Faculty id: {{id}}</li>
    </div>
    <div id="pic">
        <b>TIME TABLE:<br><br>
            <div class="tg-wrap">
                <table id="tg-dC2bf" class="tg">
                    <tr>
                        <th class="tg-baqh"></th>
                        <th class="tg-baqh">1</th>
                        <th class="tg-baqh">2</th>
                        <th class="tg-baqh">3</th>
                        <th class="tg-baqh">4</th>
                        <th class="tg-baqh">5</th>
                        <th class="tg-e9v8">6</th>
                    </tr>
                    <tr>
                        <td class="tg-baqh">MON</td>
                        <td class="tg-baqh"></td>
                        <td class="tg-baqh"></td>
                        <td class="tg-baqh"></td>
                        <td class="tg-baqh"></td>
                        <td class="tg-baqh"></td>
                        <td class="tg-baqh"></td>
                    </tr>
                    <tr>
                        <td class="tg-baqh">TUES</td>
                        <td class="tg-baqh"></td>
                        <td class="tg-baqh"></td>
                        <td class="tg-baqh"></td>
                        <td class="tg-baqh"></td>
                        <td class="tg-baqh"></td>
                        <td class="tg-baqh"></td>
                    </tr>
                    <tr>
                        <td class="tg-baqh">WED</td>
                        <td class="tg-baqh"></td>
                        <td class="tg-baqh"></td>
                        <td class="tg-baqh"></td>
                        <td class="tg-baqh"></td>
                        <td class="tg-baqh"></td>
                        <td class="tg-baqh"></td>
                    </tr>
                    <tr>
                        <td class="tg-baqh">THUR</td>
                        <td class="tg-baqh"></td>
                        <td class="tg-baqh"></td>
                        <td class="tg-baqh"></td>
                        <td class="tg-baqh"></td>
                        <td class="tg-baqh"></td>
                        <td class="tg-baqh"></td>
                    </tr>
                    <tr>
                        <td class="tg-baqh">FRI</td>
                        <td class="tg-yw4l"></td>
                        <td class="tg-yw4l"></td>
                        <td class="tg-yw4l"></td>
                        <td class="tg-yw4l"></td>
                        <td class="tg-yw4l"></td>
                        <td class="tg-yw4l"></td>
                    </tr>
                </table>
            </div>

    </div>
    <form action="{{url_for('submit',name=name)}}">
        <button class="button button1" >Swap classes</button>
    </form>
    
    <button class="button button2" >Set Free Hour</button>
    



</div>
</div>
</body>
</html>
{% endblock %}
