{% extends "layout.html" %}

{% block content %}
  <h2>SWAP CLASSES</h2>
  <h3>Faculty Name: {{name}}</h3>
  <form method="POST" action="{{ url_for('submit',name=name) }}">
    {{ form.hidden_tag() }}
      
    {{ form.FromDay.label }}
    {{ form.FromDay }}

    {{ form.FromPeriod.label }}
    {{ form.FromPeriod }}

    {{ form.ToDay.label }}
    {{ form.ToDay }}

    {{ form.ToPeriod.label }}
    {{ form.ToPeriod }}                  
    <button>Submit</button>
    <p class="message">
  </form>
{% endblock %}
